.kwadrat-gl {
    height: 600px;
    width: 600px;
    position: relative;
    padding: 0px;
    
}

.kwadrat {
    height: 198px;
    width: 198px;
    position: absolute;

}

.red {
    background-color: red;
    top: 0px;
    left: 0px;

}

.blue {
    background-color: blue;
    left: 200px;

}

.green {
    background-color: green;
    left: 400px;

}

.yellow {
    background-color: yellow;
    top: 200px;

}

.black {
    background-color: black;
    top: 200px;
    left: 200px;
}

.orange {
    background-color: orange;
    left: 400px;
    top: 200px;

}

.purple {
    background-color: purple;
    top: 400px;

}

.grey {
    background-color: grey;
    left: 200px;
    top: 400px;
}

.pink {
    background-color: pink;
    left: 400px;
    top: 400px;
}

.kwadrat .kolo {
    border-radius: 50%;
    position: relative;
    margin: 50px;
    top: 0px;
    left: 0px;
    padding: 25px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
